openapi: 3.1.0
info:
  title: GenLogs Alerts carrier-vetting API
  version: 1.0.0
  description: 'GenLogs Truck Intelligence API. Ground-truth motor-carrier and shipper data from a nationwide roadside sensor network: carrier recommendations by lane, carrier and FMCSA profiles, carrier vetting, shipper lanes and facilities, onboarded-carrier contact management, mismatch observations, and alert webhooks. Base URL https://api.genlogs.io. Authentication uses an x-api-key header plus a short-lived Access-Token obtained from /auth/token; endpoint access is gated by named permissions.'
  contact:
    name: GenLogs
    url: https://docs.genlogs.io
    email: contact@genlogs.io
  x-provenance:
    method: searched
    source: https://docs.genlogs.io (per-endpoint embedded OpenAPI fragments + documented endpoints)
    assembled: '2026-07-19'
    operationIds: some operationIds normalized by API Evangelist where the provider fragments omitted them
servers:
- url: https://api.genlogs.io
  description: GenLogs Truck Intelligence API
security:
- ApiKeyAuth: []
  AccessToken: []
tags:
- name: carrier-vetting
  description: Carrier verification and vetting rules
paths:
  /visual_sightings/verify:
    get:
      tags:
      - carrier-vetting
      summary: Verify carrier sighting near lane
      description: Verify if a carrier has been observed within 150 miles of an origin, destination, or along the lane within the last 90 days. Requires the verifier-carrier permission.
      operationId: verifyCarrierSighting
      parameters:
      - name: Access-Token
        in: header
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        required: true
        schema:
          type: string
      - name: usdot
        in: query
        required: true
        schema:
          type: string
        description: USDOT of the detected carrier.
      - name: origin_city
        in: query
        required: true
        schema:
          type: string
      - name: origin_state
        in: query
        required: true
        schema:
          type: string
      - name: destination_city
        in: query
        required: false
        schema:
          type: string
      - name: destination_state
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: A JSON object with verified true/false
          content:
            application/json:
              schema:
                type: object
                properties:
                  verified:
                    type: boolean
        '400':
          description: Required parameters missing or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        '401':
          description: Authentication credentials missing or incorrect
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        '403':
          description: Access to the requested resource is forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
components:
  schemas:
    HTTPError:
      type: object
      properties:
        detail:
          type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: API key provided by GenLogs. Required on every request.
    AccessToken:
      type: apiKey
      in: header
      name: Access-Token
      description: Short-lived access token obtained from POST /auth/token (or refreshed via /auth/token/refresh).
